.tableRow,
.tableColumn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.tableRow:hover {
  background-color: #e0e0e0;
}

.tableRow.checked {
  background-color: #b7b8bbff;
}

.tableRow.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.fileCheckbox,
.fileName,
.fileDevice,
.filePath,
.fileStatus {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

/* Flexible widths */
.fileCheckbox {
  flex: 0.5;
}
.fileName {
  flex: 1;
}

.fileDevice {
  flex: 1;
}

.filePath {
  flex: 3;
}

.fileStatus {
  flex: 1;
  text-align: right;
}

.noData {
  padding: 10px;
  text-align: center;
  color: #888;
  font-style: italic;
}

.statusIconAvailable {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4caf50; /* Green color for available status */
  margin-right: 8px;
  vertical-align: middle;
}
